<ion-header class="ion-no-border">
  <ion-toolbar class="user-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" style="color: #ffffff;"></ion-back-button>
    </ion-buttons>
    <ion-title>My Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile_img_section">
    <ion-img [src]="profilePic != '' ? profilePic : 'assets/images/avatar.png'"></ion-img>
    <div class="profile_upload_btn" (click)="uploadPP()"><img src="assets/images/white_camera.png" alt="white_camera" /></div>
  </div>
  <div class="profile_info">
    <h4>{{profileData.fname}} {{profileData.lname}}, {{age}}</h4>
    <p><img src="assets/images/location_icon.png" alt="location_icon" />&nbsp;{{profileData.address}},
      {{profileData.city}}, {{profileData.zip}}
    </p>
    <div style="padding: 15px 10px; margin-top: 15px;">
      <div class="gallery_box" (click)="uploadGP()">
        <div class="addgallery">
          <img src="assets/images/white_camera2.png" alt="white_camera2" />
          <span>Add Image</span>
        </div>
      </div>
      <div class="gallery_box" *ngFor="let item of galleryData">
        <ion-img ionImgViewer scheme="dark" [src]="item.image"></ion-img>
        <strong (click)="rmimage(item.user_id, item.gallery_image_id)">x</strong>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer (click)="goEdit()">
  <ion-toolbar class="user-toolbar">
    <ion-button color="light" fill="clear" expand="full"
      style="font-weight: bold; font-family: 'Open Sans', sans-serif; font-weight: 600; text-transform: uppercase; font-size: 14px;">
      Edit Profile</ion-button>
  </ion-toolbar>
</ion-footer>