<ion-header class="ion-no-border">
  <ion-toolbar class="user-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="nannydetails" style="color: #ffffff;"></ion-back-button>
    </ion-buttons>
    <ion-title>Write Review</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="register_panel">
    <div style="padding: 0 0px 10px 10px">
      <h4 style="font-size: 14px;">Rating for Nanny</h4>
      <ionic5-star-rating [(ngModel)]="rating" activeIcon="star" defaultIcon="star" activeColor="#fec400" defaultColor="#c4c4c4"
        readonly="false" fontSize="25px" (ratingChanged)="logRatingChange($event)">
      </ionic5-star-rating>
    </div>
    <ion-textarea rows="4" cols="20" class="cust_input" placeholder="Your Comment" type="text" [(ngModel)]="message"
      #Field1 style="height: 120px; padding-top: 10px !important;border-radius: 25px;"></ion-textarea>
      <ion-button color="warning" expand="full" shape="round" (click)="onSubmit()" class="cus_btn">Submit</ion-button>
    </div>
</ion-content>