<ion-header class="ion-no-border">
  <ion-toolbar class="user-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="welcome" style="color: #ffffff;"></ion-back-button>
    </ion-buttons>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="padding:20px;">
    <ion-input class="cust_input" placeholder="Old Password" type="password" [(ngModel)]="password" (keyup.enter)="onKeyboard(Field1)"></ion-input>
    <ion-input class="cust_input" placeholder="New Password" type="password" [(ngModel)]="new_password" #Field1
        (keyup.enter)="onKeyboard(Field2)"></ion-input>
    <ion-input class="cust_input" placeholder="Confirm Password" type="password" [(ngModel)]="confirm_password" #Field2
        (keyup.enter)="onKeyboard(null)"></ion-input>
      <ion-button color="warning" expand="full" shape="round" (click)="onUpdate()" class="cus_btn">Update</ion-button>
  </div>
</ion-content>
