<ion-header class="ion-no-border">
  <ion-toolbar class="provider-toolbar" style="text-align: center;">
    <ion-title>Welcome to Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="dashboard_top">
    <div class="dashboard_img">
      <ion-img [src]="profileData.profile_image != '' ? profileData.profile_image : 'assets/images/avatar.png'"></ion-img>
    </div>
    <h3>{{profileData.fname}} {{profileData.lname}}, {{age}}</h3>
    <span>{{profileData.email}}</span>
    <span>{{profileData.phone}}</span>
  </div>

  <ion-list class="dashboardlisting">
    <ion-item (click)="goProfile()">
      <img src="assets/images/dashboard_menu1.jpg" alt="dashboard_menu1" />
      <ion-label>My Profile</ion-label>
    </ion-item>
    <ion-item (click)="goNoti()">
      <img src="assets/images/dashboard_menu4.jpg" alt="dashboard_menu4" />
      <ion-label>Schedule Notifications</ion-label>
      <ion-badge *ngIf="profileData.unread_notifications != 0" slot="end" color="danger" style="border-radius: 20px; padding: 3px 10px;">{{profileData.unread_notifications}}</ion-badge>
    </ion-item>
    <ion-item (click)="goChangepass()">
      <img src="assets/images/dashboard_menu5.jpg" alt="dashboard_menu7" />
      <ion-label>Change Password</ion-label>
    </ion-item>
    <ion-item (click)="goChangepayment()">
      <img src="assets/images/dashboard_menu3.jpg" alt="dashboard_menu7" />
      <ion-label>Change Payment Type</ion-label>
    </ion-item>
    <ion-item (click)="goBooking()">
      <img src="assets/images/dashboard_menu2.jpg" alt="dashboard_menu2" />
      <ion-label>My Bookings</ion-label>
    </ion-item>
    <ion-item (click)="goEarning()">
      <img src="assets/images/dashboard_menu3.jpg" alt="dashboard_menu3" />
      <ion-label>My Earnings</ion-label>
    </ion-item>    
    <ion-item (click)="goHelp()">
      <img src="assets/images/dashboard_menu5.jpg" alt="dashboard_menu5" />
      <ion-label>Help</ion-label>
    </ion-item>
    <ion-item (click)="goTC()">
      <img src="assets/images/dashboard_menu6.jpg" alt="dashboard_menu6" />
      <ion-label>Terms & Conditions</ion-label>
    </ion-item>
    <ion-item lines="none" (click)="onLogout()">
      <img src="assets/images/dashboard_menu7.jpg" alt="dashboard_menu7" />
      <ion-label>Logout</ion-label>
    </ion-item>
  </ion-list>
</ion-content>