.total_top{ background:#e7fef2; padding: 8px 5px; color: #222222; font-weight: 800; font-family: "Open Sans", sans-serif; font-size: 18px; }
.total_top_right{ text-align: right; }
.earning_box{ 
    background: #ffffff; box-shadow: #dddddd 0 0 10px; border-radius: 8px; margin: 20px 0; padding: 5px;
    span{ padding: 0; margin: 0; color:#999999; font-size: 14px; font-weight: 600; font-family: "Open Sans", sans-serif; }
    i{ padding: 0; margin: 0; color:#999999; font-size: 14px; font-weight: 600; font-family: "Open Sans", sans-serif; }
    h3{ padding:3px 0; margin: 0; font-size:18px; color:#000; font-family: "Open Sans", sans-serif; font-weight: 700; }
}
.eraning_r{ text-align: right;
    h4{ margin: 18px 0; color: #41b578; font-size:22px; font-weight: 700; font-family: "Open Sans", sans-serif; }
}
