<ion-content>
  <div class="login_screen">
    <div class="login_panel">
      <img src="assets/images/login_img.png" alt="Log" />
      <h3>Login</h3>
      <ion-input class="cust_input" placeholder="User Email" type="email" [(ngModel)]="email"
        (keyup.enter)="onKeyboard(Field1)"></ion-input>
      <ion-input class="cust_input" placeholder="Password" type="password" [(ngModel)]="password" #Field1
        (keyup.enter)="onKeyboard(null)"></ion-input>
      <span (click)="goForgot()">Forgot Password?</span>
      <ion-button color="dark" expand="full" shape="round" (click)="onLogin()" class="cus_btn">Login</ion-button>
    </div>
  </div>
</ion-content>
<ion-toolbar class="ftr" (click)="goRegister()">Dont have an account? <a>Register Now</a></ion-toolbar>