<ion-header class="ion-no-border">
  <ion-toolbar class="user-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="nannydetails" style="color: #ffffff;"></ion-back-button>
    </ion-buttons>
    <ion-title>Schedule List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="scheduleData == ''" style="padding:50px 20px; color: #bfbfbf; font-weight: bold; font-size: 22px; text-align: center;">[ Sorry! Nothing Found. ]</div>
  <ion-item lines="none" class="pl_input"
    style="padding: 0 !important; position: relative; --background: #eeeeee; margin: 1px 0;"
    *ngFor="let data of scheduleData.reverse(); let i = index">
    <ion-checkbox slot="start" (ionChange)="onChecked($event, data, i)" color="warning" [disabled]="data.request_status != 1"></ion-checkbox>
    <ion-label>{{data.date}}
      <div style="margin-top: 5px;">
        <ion-badge color="dark" style="border-radius: 20px; padding: 3px 10px; margin-right: 5px;">
          {{data.time_slot}} / {{data.hour}} hr
        </ion-badge>
      </div>
    </ion-label>
    <ion-label slot="end" style="text-align: right;" *ngIf="data.request_status == 1">
      <ion-badge color="warning" style="border-radius: 20px; padding: 5px 10px; margin-right: 5px;">Accepted</ion-badge>
    </ion-label>
    <ion-label slot="end" style="text-align: right;" *ngIf="data.request_status == 0">
      <ion-badge color="dark" style="border-radius: 20px; padding: 5px 10px; margin-right: 5px;">Pending</ion-badge>
    </ion-label>
    <ion-label slot="end" style="text-align: right;" *ngIf="data.request_status == 2">
      <ion-badge color="danger" style="border-radius: 20px; padding: 5px 10px; margin-right: 5px;">Declined</ion-badge>
    </ion-label>
  </ion-item>
</ion-content>

<ion-footer *ngIf="scheduleSelectedData != ''">
  <ion-toolbar class="user-toolbar">
    <ion-button color="light" fill="clear" expand="full" (click)="onBook()"
      style="font-weight: bold; font-family: 'Open Sans', sans-serif; font-weight: 600; text-transform: uppercase; font-size: 14px;">
      Pay Now</ion-button>
  </ion-toolbar>
</ion-footer>