<ion-header class="ion-no-border">
  <ion-toolbar class="provider-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="welcome" style="color: #ffffff;"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="hideextra">Become A Nanny</ion-title>
    <ion-title *ngIf="!hideextra">Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="step">
    <ul>
      <li class="activestep"><a></a><span>Step 1</span></li>
      <li class="activestep"><a></a><span>Step 2</span></li>
      <li><a></a><span>Step 3</span></li>
    </ul>
  </div>
  <div class="register_panel">
    <p style="color: #f44336; font-size: 12px; margin: 0 0 15px 0; text-align: right;">* About Note & Identity Proof
      field mandatory *
    </p>
    <ion-textarea maxlength="200" class="cust_input" [(ngModel)]="about" style="height: auto; border-radius: 25px;"
      placeholder="Say something about you">
    </ion-textarea>
    <p style="color: #999999; font-size: 12px; margin: 0 0 15px 0; text-align: right;">{{about.length}}/200
    </p>
    <ion-select class="cust_input" [(ngModel)]="identitytype" placeholder="Select a identity proof"
      [interfaceOptions]="customActionSheetOptions" interface="action-sheet">
      <ion-select-option value="Driving Licence" *ngIf="preData.servicetype != 3">Driving Licence</ion-select-option>
      <ion-select-option value="Passport" *ngIf="preData.servicetype != 3">Passport</ion-select-option>
      <ion-select-option value="Childcare License Number" *ngIf="preData.servicetype == 3">Childcare License Number</ion-select-option>
    </ion-select>
    <ion-item lines="none" class="cust_input" style="padding: 0 5px !important;" (click)="uploadIdentity()">
      <ion-label class="uplaodtext">Upload Identity Documents</ion-label>
      <ion-badge class="uplaodbtn" slot="end">Upload</ion-badge>
    </ion-item>
    <ion-input *ngIf="preData.servicetype == 3" class="cust_input" placeholder="Website Address" type="text" [(ngModel)]="website"></ion-input>
    <div style="padding: 0 12px;">
      <div class="sml_img" *ngFor="let item of serveridentityImages">
        <ion-img [src]="item.image"></ion-img>
        <span (click)="rmserIdentityImage(item.provider_identity_document_id, 'identity_documents')">x</span>
      </div>
      <div class="sml_img" *ngFor="let item of identityImages; let i = index">
        <ion-img [src]="item"></ion-img>
        <span (click)="rmimage(i)">x</span>
      </div>
    </div>
    <ion-item lines="none" class="cust_input" style="padding: 0 5px !important;" (click)="uploadCertificate()">
      <ion-label class="uplaodtext">Any Certificates</ion-label>
      <ion-badge class="uplaodbtn" slot="end">Upload</ion-badge>
    </ion-item>
    <div style="padding: 0 12px;">
      <div class="sml_img" *ngFor="let item of servercertificateImages">
        <ion-img [src]="item.image"></ion-img>
        <span (click)="rmserCertificateImage(item.provider_certificate_id, 'certificates')">x</span>
      </div>
      <div class="sml_img" *ngFor="let item of certificateImages; let i = index">
        <ion-img [src]="item"></ion-img>
        <span (click)="rmcerimage(i)">x</span>
      </div>
    </div>
    <ion-item lines="none" class="cust_input" style="padding: 0 5px !important;" (click)="uploadIntervention()">
      <ion-label class="uplaodtext">Child Intervention Report</ion-label>
      <ion-badge class="uplaodbtn" slot="end">Upload</ion-badge>
    </ion-item>
    <div style="padding: 0 12px;">
      <div class="sml_img" *ngFor="let item of serverinterventionImages">
        <ion-img [src]="item.image"></ion-img>
        <span (click)="rmserInterventionImage(item.provider_intervention_report_id, 'intervention_reports')">x</span>
      </div>
      <div class="sml_img" *ngFor="let item of interventionImages; let i = index">
        <ion-img [src]="item"></ion-img>
        <span (click)="rmintrimage(i)">x</span>
      </div>
    </div>
    <ion-item lines="none" class="cust_input" style="padding: 0 5px !important;" (click)="uploadHome()">
      <ion-label class="uplaodtext">Upload Home Image</ion-label>
      <ion-badge class="uplaodbtn" slot="end">Upload</ion-badge>
    </ion-item>
    <div style="padding: 0 12px;">
      <div class="sml_img" *ngFor="let item of serverhomeImages">
        <ion-img [src]="item.image"></ion-img>
        <span (click)="rmserHomeImage(item.provider_home_image_id, 'home_images')">x</span>
      </div>
      <div class="sml_img" *ngFor="let item of homeImages; let i = index">
        <ion-img [src]="item"></ion-img>
        <span (click)="rmhomeimage(i)">x</span>
      </div>
    </div>
    <ion-item lines="none" style="margin-top: 20px;">
      <ion-label style="font-size: 15px;">Have you any Police Record?</ion-label>
      <ion-toggle color="success" [(ngModel)]="checkpolice"></ion-toggle>
    </ion-item>
    <div *ngIf="checkpolice">
      <ion-item lines="none" class="cust_input" style="padding: 0 5px !important;" (click)="uploadPolice()">
        <ion-label class="uplaodtext">Upload Police File</ion-label>
        <ion-badge class="uplaodbtn" slot="end">Upload</ion-badge>
      </ion-item>
      <div style="padding: 0 12px;">
        <div class="sml_img" *ngFor="let item of serverpoliceImages">
          <ion-img [src]="item.image"></ion-img>
          <span (click)="rmserPoliceImage(item.provider_certificate_id, 'police_doc')">x</span>
        </div>
        <div class="sml_img" *ngFor="let item of policeImages; let i = index">
          <ion-img [src]="item"></ion-img>
          <span (click)="rmpoliceimage(i)">x</span>
        </div>
      </div>
    </div>
    <ion-item lines="none" style="margin-top: 20px;">
      <ion-label style="font-size: 15px;">Willing to drive ?</ion-label>
      <ion-toggle color="success" [(ngModel)]="checkdrive" [checked]="checkdrive" (ionChange)="driveChange($event)">
      </ion-toggle>
    </ion-item>
    <ion-item lines="none">
      <ion-label style="font-size: 15px;">Do you smoke?</ion-label>
      <ion-toggle color="success" [(ngModel)]="checksmoke" [checked]="checksmoke" (ionChange)="smokeChange($event)">
      </ion-toggle>
    </ion-item>
    <ion-item lines="none">
      <ion-label style="font-size: 15px;">Comfortable with pets?</ion-label>
      <ion-toggle color="success" [(ngModel)]="checkpets" [checked]="checkpets" (ionChange)="petChange($event)">
      </ion-toggle>
    </ion-item>
  </div>
  <ion-toolbar class="ftr">
    <ion-button color="dark" slot="start" fill="clear" shape="round" (click)="onBack()" class="sml_cus_btn"
      style="box-shadow: none;">
      <img src="assets/images/black_l_arrow.png" />&nbsp; Back</ion-button>
    <ion-button color="success" slot="end" shape="round" (click)="onNext()" class="sml_cus_btn">Next &nbsp;<img
        src="assets/images/white_r_arrow.png" /></ion-button>
  </ion-toolbar>
</ion-content>