<ion-app>
  <ion-menu contentId="main-content" type="overlay">
    <ion-content>
      <div class="dashboard_top">
        <div class="dashboard_img">
          <img [src]="profileimage != '' ? profileimage : 'assets/images/avatar.png'" alt="profile_img" />
        </div>
        <h3>{{fname}} {{lname}}</h3>
        <span>{{email}}</span>
        <span>{{phone}}</span>
      </div>
      <ion-menu-toggle auto-hide="false">
        <ion-list class="dashboardlisting">
          <ion-item routerLink="/myprofile">
            <ion-icon name="person-circle-outline" style="padding-left: 18px; color: #3c3c3c;"></ion-icon>
            <ion-label>My Profile</ion-label>
          </ion-item>
          <ion-item routerLink="/schedule">
            <ion-icon name="calendar-outline" style="padding-left: 18px; color: #3c3c3c;"></ion-icon>
            <ion-label>Schedule List</ion-label>
          </ion-item>
          <ion-item routerLink="/changepassword">
            <ion-icon name="key-outline" style="padding-left: 18px; color: #3c3c3c;"></ion-icon>
            <ion-label>Change Password</ion-label>
          </ion-item>
          <ion-item routerLink="/mybookings">
            <ion-icon name="wallet-outline" style="padding-left: 18px; color: #3c3c3c;"></ion-icon>           
            <ion-label>My Bookings</ion-label>
          </ion-item>
          <ion-item routerLink="/nannylist">
            <ion-icon name="receipt-outline" style="padding-left: 18px; color: #3c3c3c;"></ion-icon>
            <ion-label>Nanny List</ion-label>
          </ion-item>
          <ion-item routerLink="/help">
            <ion-icon name="information-circle-outline" style="padding-left: 18px; color: #3c3c3c;"></ion-icon>
            <ion-label>Help</ion-label>
          </ion-item>
          <ion-item routerLink="/termsconditions">
            <ion-icon name="newspaper-outline" style="padding-left: 18px; color: #3c3c3c;"></ion-icon>
            <ion-label>Terms & Conditions</ion-label>
          </ion-item>
          <ion-item lines="none" (click)="onLogout()">
            <ion-icon name="log-out-outline" style="padding-left: 18px; color: #3c3c3c;"></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>
        </ion-list>
      </ion-menu-toggle>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>