<ion-content>
  <div class="congratulation_screen">
    <div class="congratulation_panel">
      <img src="assets/images/congratulation_img.png" alt="congratulation_img" />
      <h3>Congratulations!</h3>
      <p>You have successfully registered yourself as a nanny.</p>
      <ion-button color="success" expand="full" shape="round" (click)="onContinue()" class="cus_btn">Continue</ion-button>
    </div>
  </div>
</ion-content>