<ion-header class="ion-no-border">
  <ion-toolbar class="user-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="welcome" style="color: #ffffff;"></ion-back-button>
    </ion-buttons>
    <ion-title>Booking Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="padding: 0 20px;">
    <!-- <div class="blokingbox">
      <ion-grid class="booking_bottom">
        <ion-row>
          <ion-col>
            <h5 style="font-size: 18px; padding: 5px 0;">#{{bookingDetails.booking_id}}</h5>
          </ion-col>
          <ion-col>
            <h5 style="font-size: 18px; padding: 5px 0; text-align: right;">${{bookingDetails.amount}}</h5>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div> -->
    <div class="blokingbox" *ngFor="let item of bookingDetails">
      <div class="blokingbox_top">
        <ion-grid>
          <ion-row>
            <ion-col>
              <div class="booking_box_img" (click)="goNannyDetails(item.nanny_id)">
                <div class="booking_box_img_l"><img [src]="item.provider_profile_image != '' ? item.provider_profile_image : 'assets/images/avatar.png'" /></div>
                <div class="booking_box_img_r">
                  <h3>{{item.provider_fname}} {{item.provider_lname}}</h3>
                </div>
              </div>
            </ion-col>
            <ion-col>
              <h3 style="margin: 10px 0; font-size: 19px; font-weight: bold; text-align: right;">$ {{item.amount}}</h3>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <ion-grid class="booking_bottom">
        <ion-row>
          <ion-col>
            <h5>Booking Date</h5>
            <h3>{{item.date}}</h3>
          </ion-col>
          <ion-col>
            <h5>Time Slot</h5>
            <h3>{{item.time_slot}}</h3>
          </ion-col>
          <ion-col>
            <h5>Booking For</h5>
            <h3>{{item.hour}} hr</h3>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid class="person_info">
        <ion-row>
          <ion-col>
            <h5>No of children:<span> {{item.children_no}}</span></h5>
            <h5>Booking Status: <b>Confirm</b></h5>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div class="locationbooking">
        <img class="locationbooking_l" src="assets/images/location_orng.png" alt="green_location" />
        <h4>{{item.provider_address}}</h4>
        <!-- <img class="locationbooking_r" src="assets/images/direction_orng.png" alt="green_direction" /> -->
      </div>
      <div *ngIf="item.service_is_completed == 0">
        <ion-button color="warning" expand="full" (click)="onBookingComplete(item.booking_detail_id)" class="cus_btn" style="margin: 0;">Complete Booking</ion-button>
      </div>
    </div>    
  </div>
</ion-content>