<ion-header class="ion-no-border">
  <ion-toolbar class="user-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="nannylist" style="color: #ffffff;"></ion-back-button>
    </ion-buttons>
    <ion-title>Filter</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row style="height: 100%;">
    <ion-col style="padding: 0; background: #efefef;">
      <ion-item lines="none" [class.pay_method_active]="selectedChip == 0" (click)="onFilterPayment(0)">
        <ion-label style="font-size: 14px;">Rate</ion-label>
      </ion-item>
      <ion-item lines="none" [class.pay_method_active]="selectedChip == 1" (click)="onFilterPayment(1)">
        <ion-label style="font-size: 14px;">
          Rate Type
        </ion-label>
      </ion-item>
      <ion-item lines="none" [class.pay_method_active]="selectedChip == 2" (click)="onFilterPayment(2)">
        <ion-label style="font-size: 14px;">
          Ratings
        </ion-label>
      </ion-item>
      <ion-item lines="none" [class.pay_method_active]="selectedChip == 3" (click)="onFilterPayment(3)">
        <ion-label style="font-size: 14px;">
          Interest In
        </ion-label>
      </ion-item>
    </ion-col>
    <ion-col style="padding: 0;" class="rightCol">
      <div *ngIf="selectedChip == 0">
        <ion-item lines="none" *ngFor="let item of rateList; let i = index">
          <ion-label style="font-size: 14px;">$ {{item.title}}</ion-label>
          <ion-checkbox slot="start" color="warning" [checked]="item.check" (ionChange)="selectRate($event,item.title, i)"></ion-checkbox>
        </ion-item>
      </div> 
      <div *ngIf="selectedChip == 1">
        <ion-item lines="none" *ngFor="let item of rateTypeList; let i = index">
          <ion-label style="font-size: 14px;">{{item.title}}</ion-label>
          <ion-checkbox slot="start" color="warning" [checked]="item.check" (ionChange)="selectRateType($event,item.title, i)"></ion-checkbox>
        </ion-item>
      </div> 
      <div *ngIf="selectedChip == 2">
        <ion-item lines="none" *ngFor="let item of ratingsList; let i = index">
          <ion-label style="font-size: 14px;">{{item.title}} Star</ion-label>
          <ion-checkbox slot="start" color="warning" [checked]="item.check" (ionChange)="selectRating($event,item.title, i)"></ion-checkbox>
        </ion-item>
      </div>
      <div *ngIf="selectedChip == 3">
        <ion-item lines="none" *ngFor="let item of interestInList; let i = index">
          <ion-label style="font-size: 14px;">{{item.title}}</ion-label>
          <ion-checkbox slot="start" color="warning" [checked]="item.check" (ionChange)="selectInterest($event,item.title, i)"></ion-checkbox>
        </ion-item>
      </div>           
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer class="nannylist_footer">
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button (click)="onCancel()">
          <ion-label><span>Cancel</span></ion-label>
        </ion-tab-button>
        <ion-tab-button (click)="onApply()">
          <ion-label><span>Apply</span></ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>

<!-- <ion-footer>
  <ion-toolbar>
    <ion-button color="medium" fill="clear" style="font-size: 14px; text-transform: capitalize; width: 48%;">Cancel</ion-button>
    <ion-button color="success" fill="clear" style="font-size: 14px; text-transform: capitalize; width: 48%;">Apply</ion-button>
  </ion-toolbar>
</ion-footer> -->
