.home_search{ 
    border: 1px #ffffff solid; width: 80%; float: right; border-radius: 50px; background: #fff; margin-right: 15px; position: relative; padding: 0 45px 0 30px;
    .search_icon{
        position: absolute;
        left: 10px;
        top: 7px;
        height: 15px;
        opacity: 0.6;
    }
    .filter_icon{
        position: absolute;
        right: 10px;
        top: 7px;
        height: 17px;
    }
    .search_input {
        height: 30px;
        font-size: 12px;
        margin: 0;
        padding: 0 !important;
        text-align: left;
        background: #ffffff; --background: #ffffff; color: #666666; font-size: 13px; font-weight: 400; font-family: 'Open Sans', sans-serif; border: 1px #ffffff solid;
    }
}
.parts{
    margin: 20px 0;
    h3{
        padding: 0 0 5px 0;
        margin: 0;
        color: #222222;
        font-size:22px;
        font-weight: 700;
        font-family: "Open Sans", sans-serif;
    }
}
.listing_box{
    background: #ffffff; box-shadow: #dddddd 0 1px 5px; width: 100%; border-radius: 10px; margin:15px 0; overflow: hidden; display: flex;
    .nannyimg{ height: 110px; width: 30%; overflow: hidden;
        img{width: 100%; height: 100%; object-fit: cover; object-position: top;}
    }
    .nanny_details{padding: 10px; width: 40%;
        span{ padding: 0 0 5px 0; margin: 0; font-size:15px; font-weight: 400; font-family: "Open Sans", sans-serif; display: block; }
        h4{ padding: 0 0 5px 0; margin: 0; color: #000; font-size:13px; font-weight: 700; font-family: "Open Sans", sans-serif; }
        b{ color: #000; font-size:13px; font-style: italic; font-family: "Open Sans", sans-serif; display: block; font-weight: 400; padding: 0 0 5px 0;}
    }
    .nanny_price{ padding: 10px; width: 30%; text-align: right; padding-left: 0;
        h2{
            margin: 3px 0 20px 0;
            color: #f38320;
            font-size:24px;
            font-weight: 800;
            font-family: "Open Sans", sans-serif;
            span{
                color: #666666;
                font-weight: 400;
                font-size:17px;
            }
        }
    }
}
.more_btn{ letter-spacing: 0; padding: 0 5px; border-radius: 8px; color: #f38320 !important; font-size: 12px; font-weight: 600; font-family: "Open Sans", sans-serif; --background: #fff; text-transform: capitalize; border: #f38320 solid 2px; width: 100%; height: 30px; --box-shadow: none; }
.nannylist_footer ion-toolbar{ padding: 0; box-shadow: 0px -12px 19px -5px #dddddd; }
.nannylist_footer ion-label span{ display: inline-block; padding-left: 10px; padding-top: 0; font-size:17px; font-weight: 400; font-family: "Open Sans", sans-serif; }
.nannylist_footer ion-label img{ float: left; }
.nannylist_footer ion-tab-button{ border-right:#ccc solid 1px; }
.nannylist_footer ion-tab-button:last-child{ border-right:0; }

ion-item.pay_method_active{ --background: #fff; color: #f38320; }
ion-item{--background: #efefef;}
.rightCol ion-item{
    --background: #fff;
}
/* .select_method ul li.pay_method_active a img.cardmethod_normal{ display:none; }
.select_method ul li.pay_method_active a img.cardmethod_normal_active{ display:inline-block; }
.select_method ul li.pay_method_active a span{ color: #fff; } */