<ion-content>
  <div class="congratulation_screen">
    <div class="congratulation_panel">
      <img src="assets/images/congratulation_icon.png" alt="congratulation_img" />
      <h3>Congratulations!</h3>
      <p>Booking has been confirmed, Please your email for details.</p>
      <ion-button color="warning" expand="full" shape="round" (click)="goBooking()" class="cus_btn">Go To My Bookings
      </ion-button>
    </div>
  </div>
</ion-content>