<ion-content>
  <div class="login_screen">
    <div class="login_panel">
      <img src="assets/images/login_img.png" alt="Log" />
      <h3>Forgot Password</h3>
      <ion-input class="cust_input" placeholder="Enter Your Email" [(ngModel)]="email"></ion-input>
      <ion-button color="dark" expand="full" shape="round" (click)="onForgotpass()" class="cus_btn">Submit</ion-button>
    </div>
  </div>
</ion-content>
<ion-toolbar class="ftr" (click)="goLogin()"><a>Back to Login</a></ion-toolbar>