.login_screen{
    width: 100%; height: 100%; position: absolute; display: table; padding: 35px;
    .login_panel{ display: table-cell; text-align: center; vertical-align: middle;
        img{ width: 60%; margin-bottom: 20px; }
        h3{ padding: 20px 0; margin: 0; color: #222222; font-size: 26px; font-weight: 700; font-family: "Open Sans", sans-serif; }
    }
}
.cust_input:hover{ border-color: #222428; box-shadow: #eeeeee 0 0 6px 4px;}
.ftr{color: #444444; font-size: 14px; text-align: center; font-family: "Open Sans", sans-serif;
    a{color: #444444; text-decoration: underline; font-weight: 600;}
}
