.user-toolbar { --background: #f38320; }
.provider-toolbar { --background: #41b578; }
ion-toolbar{ color: #ffffff;
    ion-title{ font-size: 16px; font-weight: 600; font-family: 'Open Sans', sans-serif; }
}
.cus_btn{ font-size: 15px; font-weight: 600; font-family: "Open Sans", sans-serif; text-transform: uppercase; height: 50px; margin: 15px 0; }
.sml_cus_btn{ font-size: 15px; font-weight: 600; font-family: "Open Sans", sans-serif; height: 42px; text-transform: capitalize; }

.cust_input{
    text-align: left; width: 100%; height: 50px; background: #f2f2f2; --background: #f2f2f2; border-radius:50px; color: #555555; font-size: 15px; font-weight: 400; font-family: 'Open Sans', sans-serif; margin: 10px 0; border: 1px #f2f2f2 solid;
    input{padding: 15px 20px !important; --placeholder-color: #555555; --placeholder-opacity: 1;}    
    textarea{padding: 15px 20px !important; --placeholder-color: #555555; --placeholder-opacity: 1; height: 100px;}
}
.cust_input:hover{ border-color: #41b578; box-shadow: #e7fef2 0 0 6px 4px; background: #ffffff; }
ion-select{--placeholder-color: #555555; --placeholder-opacity: 1; padding: 15px !important;}

.dateofbirth{
    position: relative;
    .cust_input{ padding-top: 14px !important; }
}
.dateofbirth:after{ background: url(./images/cal_icon.png) no-repeat 0 0; width: 19px; height: 19px; position: absolute; top: 14px; right: 15px; content: ""; z-index: 999; }
.timeof{
    position: relative;
    .cust_input{ padding-top: 14px !important; }
}
.timeof:after{ background: url(./images/wall_clock.png) no-repeat 0 0; width: 20px; height: 20px; background-size: cover; position: absolute; top: 14px; right: 15px; content: ""; z-index: 999; }

ionic5-star-rating button{outline: none;}
.amount{
    input{padding: 15px 0px !important;}
}