.parts{
    margin: 20px 0;
    h3{
        padding: 0 0 5px 0;
        margin: 0;
        color: #222222;
        font-size:22px;
        font-weight: 700;
        font-family: "Open Sans", sans-serif;
    }
}
.listing_box{
    background: #ffffff; box-shadow: #dddddd 0 1px 5px; width: 100%; border-radius: 10px; margin:15px 0; overflow: hidden; display: flex;
    .nannyimg{ height: 110px; width: 30%; overflow: hidden;
        img{width: 100%; height: 100%; object-fit: cover; object-position: top;}
    }
    .nanny_details{padding: 10px; width: 40%;
        span{ padding: 0 0 5px 0; margin: 0; font-size:15px; font-weight: 400; font-family: "Open Sans", sans-serif; display: block; }
        h4{ padding: 0 0 5px 0; margin: 0; color: #000; font-size:13px; font-weight: 700; font-family: "Open Sans", sans-serif; }
        b{ color: #000; font-size:13px; font-style: italic; font-family: "Open Sans", sans-serif; display: block; font-weight: 400; padding: 0 0 5px 0;}
    }
    .nanny_price{ padding: 10px; width: 30%; text-align: right; padding-left: 0;
        h2{
            margin: 3px 0 20px 0;
            color: #f38320;
            font-size:24px;
            font-weight: 800;
            font-family: "Open Sans", sans-serif;
            span{
                color: #666666;
                font-weight: 400;
                font-size:17px;
            }
        }
    }
}
.more_btn{ letter-spacing: 0; padding: 0 5px; border-radius: 8px; color: #f38320 !important; font-size: 12px; font-weight: 600; font-family: "Open Sans", sans-serif; --background: #fff; text-transform: capitalize; border: #f38320 solid 2px; width: 100%; height: 30px; --box-shadow: none; }
.nannylist_footer ion-toolbar{ padding: 0; box-shadow: 0px -12px 19px -5px #dddddd; }
.nannylist_footer ion-label span{ display: inline-block; padding-left: 10px; padding-top: 0; font-size:17px; font-weight: 400; font-family: "Open Sans", sans-serif; }
.nannylist_footer ion-label img{ float: left; }
.nannylist_footer ion-tab-button{ border-right:#ccc solid 1px; }
.nannylist_footer ion-tab-button:last-child{ border-right:0; }