<ion-header class="ion-no-border">
  <ion-toolbar class="user-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" style="color: #ffffff;"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="serviceType == undefined">List of Nannies</ion-title>
    <ion-title *ngIf="serviceType != ''">{{serviceType}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="nannyData == null || nannyData == ''" style="padding:50px 20px; color: #bfbfbf; font-weight: bold; font-size: 22px; text-align: center;">[ Sorry! Nothing Found. ]</div>
  <div style="padding: 0 20px;">
    <div class="parts">
      <div *ngFor="let data of nannyData" class="listing_box">
        <div class="nannyimg"><img [src]="data.profile_image != '' ? data.profile_image : 'assets/images/avatar.png'" />
        </div>
        <div class="nanny_details">
          <span><img src="assets/images/location_icon.png" />{{data.address}}</span>
          <h4>{{data.fname}} {{data.lname}}, {{splitAge(data.age)}}</h4>
          <b>{{data.city}}</b>
          <div style="display: flex; align-items: center;">
            <ionic5-star-rating #rating activeIcon="star" defaultIcon="star" activeColor="#fec400"
              defaultColor="#c4c4c4" readonly="true" rating="{{data.avg_rate}}" fontSize="15px">
            </ionic5-star-rating>
            <p style="margin: 0; margin-left: 10px; font-size: 14px;">({{data.avg_rate}})</p>
          </div>

          <!--  <img src="assets/images/review.png" alt="review" /> -->
        </div>
        <div class="nanny_price">
          <h2>${{data.rate}}<span>/hr</span></h2>
          <ion-button (click)="goNannyDetails(data.user_id)" class="more_btn">Know More</ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer class="nannylist_footer" *ngIf="nannyData != null">
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button (click)="onSort()">
          <ion-label><img src="assets/images/sort_icon.jpg" /> <span>Sort</span></ion-label>
        </ion-tab-button>
        <ion-tab-button (click)="onFilter()">
          <ion-label><img src="assets/images/filterfooter_icon.jpg" /><span> Filter</span></ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>